

body{
  background:#00008B;
}

  
h1 {
  color: white;
  text-align: center;
  font-family: Comic Sans MS;
  font-size: 45px
}

p {
  font-family: Bodoni Moda;
  font-size: 25px;
  color:#FFF8DC;
}
